In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from data_cleaning import *

In [2]:
# Read CSV file 
ev_sales_world = pd.read_csv("./CSVs/EV_Sales_All_Over_World.csv")
ev_sales_world

        region    category parameter  mode powertrain  year   unit    value
0    Australia  Historical  EV sales  Cars        BEV  2011  sales       49
1    Australia  Historical  EV sales  Cars        BEV  2012  sales      170
2    Australia  Historical  EV sales  Cars       PHEV  2012  sales       80
3    Australia  Historical  EV sales  Cars       PHEV  2013  sales      100
4    Australia  Historical  EV sales  Cars        BEV  2013  sales      190
..         ...         ...       ...   ...        ...   ...    ...      ...
636      World  Historical  EV sales  Cars       PHEV  2019  sales   580000
637      World  Historical  EV sales  Cars        BEV  2020  sales  2000000
638      World  Historical  EV sales  Cars       PHEV  2020  sales   980000
639      World  Historical  EV sales  Cars        BEV  2021  sales  4700000
640      World  Historical  EV sales  Cars       PHEV  2021  sales  1900000

[641 rows x 8 columns]

In [3]:
# Get all information about DataFrame 
checking_dataframe(ev_sales_world)

DataFrame Information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641 entries, 0 to 640
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      641 non-null    object
 1   category    641 non-null    object
 2   parameter   641 non-null    object
 3   mode        641 non-null    object
 4   powertrain  641 non-null    object
 5   year        641 non-null    int64
 6   unit        641 non-null    object
 7   value       641 non-null    int64
dtypes: int64(2), object(6)
memory usage: 40.2+ KB
None

Data Types

region        object
category      object
parameter     object
mode          object
powertrain    object
year           int64
unit          object
value          int64
dtype: object

Null Values

region        0
category      0
parameter     0
mode          0
powertrain    0
year          0
unit          0
value         0
dtype: int64

In [4]:
# Drop "category" column
clean_ev_sales_world = ev_sales_world.drop(["category"], axis=1)
clean_ev_sales_world.head(10)

      region parameter  mode powertrain  year   unit  value
0  Australia  EV sales  Cars        BEV  2011  sales     49
1  Australia  EV sales  Cars        BEV  2012  sales    170
2  Australia  EV sales  Cars       PHEV  2012  sales     80
3  Australia  EV sales  Cars       PHEV  2013  sales    100
4  Australia  EV sales  Cars        BEV  2013  sales    190
5  Australia  EV sales  Cars        BEV  2014  sales    370
6  Australia  EV sales  Cars       PHEV  2014  sales    950
7  Australia  EV sales  Cars       PHEV  2015  sales   1000
8  Australia  EV sales  Cars        BEV  2015  sales    760
9  Australia  EV sales  Cars        BEV  2016  sales    670

In [5]:
# Clening column names 
clean_columns(clean_ev_sales_world)
clean_ev_sales_world.head()

      Region Parameter  Mode Powertrain  Year   Unit  Value
0  Australia  EV sales  Cars        BEV  2011  sales     49
1  Australia  EV sales  Cars        BEV  2012  sales    170
2  Australia  EV sales  Cars       PHEV  2012  sales     80
3  Australia  EV sales  Cars       PHEV  2013  sales    100
4  Australia  EV sales  Cars        BEV  2013  sales    190

In [6]:
# Remove whitespace from entire Dataframe
clean_ev_sales_world.applymap(remove_whitespace)

        Region Parameter  Mode Powertrain  Year   Unit    Value
0    Australia   EVsales  Cars        BEV  2011  sales       49
1    Australia   EVsales  Cars        BEV  2012  sales      170
2    Australia   EVsales  Cars       PHEV  2012  sales       80
3    Australia   EVsales  Cars       PHEV  2013  sales      100
4    Australia   EVsales  Cars        BEV  2013  sales      190
..         ...       ...   ...        ...   ...    ...      ...
636      World   EVsales  Cars       PHEV  2019  sales   580000
637      World   EVsales  Cars        BEV  2020  sales  2000000
638      World   EVsales  Cars       PHEV  2020  sales   980000
639      World   EVsales  Cars        BEV  2021  sales  4700000
640      World   EVsales  Cars       PHEV  2021  sales  1900000

[641 rows x 7 columns]

In [7]:
# Get all information about DataFrame 
checking_dataframe(clean_ev_sales_world)

DataFrame Information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641 entries, 0 to 640
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Region      641 non-null    object
 1   Parameter   641 non-null    object
 2   Mode        641 non-null    object
 3   Powertrain  641 non-null    object
 4   Year        641 non-null    int64
 5   Unit        641 non-null    object
 6   Value       641 non-null    int64
dtypes: int64(2), object(5)
memory usage: 35.2+ KB
None

Data Types

Region        object
Parameter     object
Mode          object
Powertrain    object
Year           int64
Unit          object
Value          int64
dtype: object

Null Values

Region        0
Parameter     0
Mode          0
Powertrain    0
Year          0
Unit          0
Value         0
dtype: int64

In [8]:
# Write clean CSV file
clean_ev_sales_world.to_csv("./CSVs/clean_datasets/ev_sales_world.csv",index=False)